In [1]:
#import pandas
import pandas as pd
#col_names = ['pregnant', 'glucose', 'bp', 'skin', 'insulin', 'bmi', 'pedigree', 'age', 'label']
# load dataset
ufc = pd.read_csv("data.csv")

In [2]:
ufc.head()

,BPrev,BStreak,B_Age,B_Height,B_HomeTown,B_ID,B_Location,B_Name,B_Weight,B__Round1_Grappling_Reversals_Landed,...,R__Round5_TIP_Ground Time,R__Round5_TIP_Guard Control Time,R__Round5_TIP_Half Guard Control Time,R__Round5_TIP_Misc. Ground Control Time,R__Round5_TIP_Mount Control Time,R__Round5_TIP_Neutral Time,R__Round5_TIP_Side Control Time,R__Round5_TIP_Standing Time,winby,winner
0,0,0,38.0,193.0,Hounslow England,808,Amsterdam The Netherlands,Alistair Overeem,120.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DEC,blue
1,0,0,36.0,172.0,"Chicago, Illinois United States",1054,"Chicago, Illinois United States",Ricardo Lamas,65.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DEC,red
2,0,0,39.0,167.0,"Isla Vista , California USA",959,"Sacramento, California USA",Urijah Faber,61.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KO/TKO,red
3,0,0,33.0,167.0,"San Diego, CA USA",1056,"San Diego, CA USA",Danny Martinez,56.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DEC,red
4,0,0,36.0,185.0,Southampton England,2005,Southampton England,Tom Watson,84.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DEC,red

In [5]:
ufc = ufc[ufc.winner != 'no contest']

In [6]:
ufc = ufc[ufc.winner != 'draw']

In [7]:
ufc_zero = ufc.fillna(0)

In [8]:
ufc_zero.head()

,BPrev,BStreak,B_Age,B_Height,B_HomeTown,B_ID,B_Location,B_Name,B_Weight,B__Round1_Grappling_Reversals_Landed,...,R__Round5_TIP_Ground Time,R__Round5_TIP_Guard Control Time,R__Round5_TIP_Half Guard Control Time,R__Round5_TIP_Misc. Ground Control Time,R__Round5_TIP_Mount Control Time,R__Round5_TIP_Neutral Time,R__Round5_TIP_Side Control Time,R__Round5_TIP_Standing Time,winby,winner
0,0,0,38.0,193.0,Hounslow England,808,Amsterdam The Netherlands,Alistair Overeem,120.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DEC,blue
1,0,0,36.0,172.0,"Chicago, Illinois United States",1054,"Chicago, Illinois United States",Ricardo Lamas,65.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DEC,red
2,0,0,39.0,167.0,"Isla Vista , California USA",959,"Sacramento, California USA",Urijah Faber,61.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,KO/TKO,red
3,0,0,33.0,167.0,"San Diego, CA USA",1056,"San Diego, CA USA",Danny Martinez,56.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DEC,red
4,0,0,36.0,185.0,Southampton England,2005,Southampton England,Tom Watson,84.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DEC,red

In [9]:
idealcol = ['B_Age','B_Height','B_Weight','R_Age','R_Height','R_Weight','winner']

In [10]:
ufc_zero[idealcol]

      B_Age  B_Height  B_Weight  R_Age  R_Height  R_Weight winner
0      38.0     193.0     120.0   39.0     190.0     119.0   blue
1      36.0     172.0      65.0   32.0     170.0      65.0    red
2      39.0     167.0      61.0   31.0     167.0      61.0    red
3      33.0     167.0      56.0   37.0     160.0      56.0    red
4      36.0     185.0      84.0   37.0     182.0      84.0    red
...     ...       ...       ...    ...       ...       ...    ...
2313   34.0     172.0      70.0   39.0     172.0      65.0   blue
2314   31.0     177.0      70.0   34.0     180.0      70.0    red
2315   35.0     180.0      70.0   35.0     175.0      70.0    red
2316   37.0     170.0      61.0   23.0     167.0      61.0    red
2317   23.0     190.0      70.0   26.0     180.0      77.0    red

[2278 rows x 7 columns]

In [11]:
#split dataset in features and target variable
feature_cols = ['B_Age','B_Height','B_Weight','R_Age','R_Height','R_Weight']
X = ufc_zero[feature_cols] # Features
y = ufc_zero.winner # Target variable

In [12]:
# split X and y into training and testing sets
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [13]:
X_train

      B_Age  B_Height  B_Weight  R_Age  R_Height  R_Weight
302    31.0     167.0      52.0   36.0     165.0      52.0
1876   36.0     177.0      70.0   37.0     182.0      77.0
557    27.0     185.0      77.0   32.0     182.0      77.0
589    36.0     182.0      84.0   38.0     180.0      77.0
634    39.0     165.0      56.0   35.0     162.0      56.0
...     ...       ...       ...    ...       ...       ...
1052   33.0     177.0      70.0   35.0     180.0      70.0
1766   25.0     172.0      61.0   27.0     175.0      61.0
777    35.0     182.0      77.0   33.0     175.0      77.0
850    33.0     160.0      52.0   26.0     165.0      52.0
1687   26.0     175.0      84.0   34.0     187.0      84.0

[1708 rows x 6 columns]

In [14]:
X_test

      B_Age  B_Height  B_Weight  R_Age  R_Height  R_Weight
668    28.0     177.0      70.0   31.0     177.0      70.0
805    36.0     185.0      84.0   31.0     187.0      84.0
1092   34.0     172.0      70.0   34.0     172.0      65.0
165    42.0     182.0     119.0   42.0     190.0     109.0
1720   24.0     170.0      56.0   25.0     167.0      56.0
...     ...       ...       ...    ...       ...       ...
2285   27.0     180.0      77.0   32.0     187.0      70.0
1830   30.0     185.0      84.0   37.0     185.0      84.0
1608   26.0     180.0      65.0   32.0     170.0      65.0
659    48.0     180.0      84.0   37.0     182.0      84.0
2240   25.0     162.0      56.0   29.0     165.0      56.0

[570 rows x 6 columns]

In [15]:
y_train

302     blue
1876     red
557      red
589      red
634     blue
        ...
1052     red
1766     red
777     blue
850      red
1687     red
Name: winner, Length: 1708, dtype: object

In [16]:
y_test

668      red
805      red
1092     red
165     blue
1720     red
        ...
2285     red
1830    blue
1608    blue
659     blue
2240     red
Name: winner, Length: 570, dtype: object

In [17]:
# import the class
from sklearn.linear_model import LogisticRegression

# instantiate the model (using the default parameters)
logreg = LogisticRegression()

# fit the model with data
logreg.fit(X_train,y_train)

#
y_pred=logreg.predict(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [18]:
y_test.unique()

array(['red', 'blue'], dtype=object)

In [19]:
import numpy
x = numpy.array(y_pred)

In [20]:
x

array(['red', 'red', 'red', 'red', 'red', 'red', 'red', 'red', 'red',
       'red', 'red', 'red', 'red', 'red', 'red', 'red', 'red', 'red',
       'red', 'red', 'red', 'red', 'red', 'red', 'red', 'red', 'red',
       'red', 'red', 'red', 'red', 'red', 'red', 'red', 'red', 'red',
       'red', 'red', 'blue', 'red', 'red', 'blue', 'red', 'red', 'red',
       'red', 'blue', 'red', 'red', 'red', 'red', 'blue', 'red', 'red',
       'blue', 'red', 'red', 'red', 'red', 'red', 'red', 'red', 'red',
       'red', 'red', 'red', 'blue', 'blue', 'blue', 'red', 'red', 'red',
       'red', 'red', 'blue', 'red', 'blue', 'blue', 'red', 'blue', 'red',
       'red', 'blue', 'red', 'red', 'red', 'red', 'red', 'red', 'red',
       'red', 'red', 'red', 'red', 'blue', 'red', 'blue', 'red', 'blue',
       'blue', 'blue', 'red', 'red', 'red', 'red', 'red', 'red', 'red',
       'red', 'red', 'red', 'red', 'red', 'red', 'red', 'red', 'red',
       'red', 'red', 'red', 'red', 'red', 'red', 'blue', 'blue', 'red',
       'red', 'red', 'red', 'red', 'red', 'red', 'red', 'red', 'red',
       'blue', 'red', 'red', 'red', 'red', 'red', 'red', 'red', 'red',
       'red', 'red', 'red', 'red', 'red', 'red', 'red', 'red', 'red',
       'blue', 'red', 'red', 'red', 'red', 'red', 'blue', 'red', 'blue',
       'red', 'red', 'blue', 'blue', 'red', 'red', 'blue', 'red', 'red',
       'red', 'red', 'blue', 'red', 'blue', 'red', 'blue', 'red', 'red',
       'red', 'red', 'red', 'red', 'red', 'red', 'red', 'blue', 'red',
       'red', 'red', 'red', 'red', 'red', 'red', 'red', 'red', 'red',
       'red', 'red', 'red', 'red', 'red', 'red', 'red', 'blue', 'blue',
       'red', 'blue', 'red', 'red', 'red', 'red', 'red', 'red', 'blue',
       'red', 'red', 'blue', 'red', 'red', 'blue', 'red', 'red', 'red',
       'red', 'red', 'red', 'red', 'red', 'red', 'red', 'red', 'red',
       'blue', 'red', 'blue', 'red', 'blue', 'blue', 'red', 'blue', 'red',
       'red', 'red', 'red', 'blue', 'blue', 'red', 'red', 'red', 'blue',
       'red', 'red', 'red', 'red', 'red', 'red', 'red', 'red', 'red',
       'red', 'red', 'blue', 'red', 'red', 'red', 'blue', 'red', 'blue',
       'blue', 'red', 'red', 'red', 'red', 'blue', 'blue', 'blue', 'red',
       'blue', 'red', 'blue', 'red', 'blue', 'red', 'blue', 'red', 'blue',
       'red', 'blue', 'red', 'red', 'red', 'red', 'blue', 'blue', 'red',
       'red', 'red', 'red', 'red', 'red', 'blue', 'red', 'red', 'red',
       'red', 'red', 'red', 'red', 'red', 'blue', 'red', 'red', 'red',
       'blue', 'red', 'blue', 'red', 'red', 'red', 'red', 'red', 'red',
       'red', 'red', 'red', 'red', 'red', 'red', 'blue', 'red', 'red',
       'red', 'blue', 'red', 'blue', 'red', 'red', 'blue', 'blue', 'red',
       'red', 'red', 'red', 'red', 'blue', 'red', 'red', 'red', 'red',
       'red', 'red', 'red', 'red', 'red', 'red', 'blue', 'blue', 'blue',
       'red', 'blue', 'red', 'blue', 'red', 'blue', 'blue', 'red', 'blue',
       'red', 'red', 'red', 'blue', 'red', 'blue', 'red', 'blue', 'red',
       'red', 'red', 'red', 'red', 'red', 'red', 'red', 'blue', 'red',
       'red', 'blue', 'red', 'red', 'blue', 'red', 'red', 'blue', 'red',
       'blue', 'red', 'red', 'blue', 'blue', 'red', 'blue', 'blue',
       'blue', 'red', 'red', 'red', 'blue', 'red', 'blue', 'blue', 'red',
       'red', 'red', 'red', 'red', 'blue', 'blue', 'red', 'red', 'red',
       'blue', 'red', 'red', 'red', 'red', 'blue', 'red', 'blue', 'red',
       'red', 'red', 'red', 'blue', 'red', 'blue', 'red', 'red', 'blue',
       'red', 'red', 'blue', 'red', 'red', 'red', 'red', 'red', 'blue',
       'red', 'red', 'red', 'red', 'red', 'red', 'blue', 'red', 'blue',
       'red', 'red', 'red', 'red', 'blue', 'blue', 'red', 'red', 'red',
       'red', 'red', 'red', 'red', 'red', 'red', 'red', 'red', 'red',
       'blue', 'red', 'red', 'red', 'red', 'blue', 'red', 'blue', 'blue',
       'red', 'red', 'red', 'red', 'red', 'red', 'blue', 'red', 'blue',
       'blue', 'red', 'red', 'red', 'red', 'red', 'blue', 'red', 'red',
       'red', 'blue', 'blue', 'red', 'red', 'red', 'blue', 'blue', 'red',
       'red', 'blue', 'red', 'red', 'red', 'red', 'red', 'red', 'red',
       'red', 'blue', 'blue', 'red', 'red', 'blue', 'red', 'red', 'red',
       'blue', 'red', 'red', 'red', 'red', 'red', 'blue', 'red', 'red',
       'red', 'blue', 'red', 'red', 'red', 'red', 'red', 'red', 'blue',
       'blue', 'red', 'blue', 'blue', 'red', 'blue', 'red', 'blue', 'red',
       'blue', 'red', 'red', 'red', 'red', 'red', 'red', 'red', 'blue',
       'blue', 'blue', 'red', 'blue'], dtype=object)

In [21]:
# import the metrics class
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
c

array([[ 73, 156],
       [ 65, 276]], dtype=int64)

In [22]:
# import required modules
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [33]:
cm = confusion_matrix(y_test, y_pred)
classes = unique_labels(y_test, y_pred)

fig, ax = plt.subplots()
im = ax.imshow(cm, interpolation='nearest', cmap=plt.cm.Blues)
ax.figure.colorbar(im, ax=ax)

ax.set(xticks=np.arange(cm.shape[1]),
       yticks=np.arange(cm.shape[0]),
       xticklabels=classes, yticklabels=classes,
       title='Confusion Matrix',
       ylabel='True label',
       xlabel='Predicted label')

fmt = 'd'
thresh = cm.max() / 2.
for i in range(cm.shape[0]):
    for j in range(cm.shape[1]):
        ax.text(j, i, format(cm[i, j], fmt),
                ha="center", va="center",
                color="white" if cm[i, j] > thresh else "black")
fig.tight_layout()
ax

NameError: name 'confusion_matrix' is not defined

In [24]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Precision:",metrics.precision_score(y_test, y_pred))
print("Recall:",metrics.recall_score(y_test, y_pred))

Accuracy: 0.612280701754386

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1243: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if pos_label not in present_labels:

ValueError: pos_label=1 is not a valid label: array(['blue', 'red'], dtype='<U4')

In [ ]:
y_pred_proba = logreg.predict_proba(X_test)[::,1]
fpr, tpr, _ = metrics.roc_curve(y_test,  y_pred_proba)
auc = metrics.roc_auc_score(y_test, y_pred_proba)
plt.plot(fpr,tpr,label="data 1, auc="+str(auc))
plt.legend(loc=4)
plt.show()